In [1]:
import pandas as pd
import boto3
import json

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('mydwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param            Value
0        DWH_CLUSTER_TYPE       multi-node
1           DWH_NUM_NODES                8
2           DWH_NODE_TYPE        dc2.large
3  DWH_CLUSTER_IDENTIFIER  sparkifyCluster
4                  DWH_DB       sparkifydb
5             DWH_DB_USER      samiramunir
6         DWH_DB_PASSWORD         spArk1f!
7                DWH_PORT             5439
8       DWH_IAM_ROLE_NAME    sparkify_role

In [3]:
ec2 = boto3.resource('ec2',
                       region_name = "us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key =SECRET
                    )

s3 = boto3.resource('s3',
                       region_name = "us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key =SECRET
                    )

iam = boto3.client('iam',
                        region_name = "us-west-2",
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET)

redshift = boto3.client('redshift',
                             region_name="us-west-2",
                             aws_access_key_id=KEY,
                             aws_secret_access_key=SECRET)

In [4]:
s3.Bucket

In [5]:
sampleDbBucket =  s3.Bucket("udacity-dend")
's3://udacity-dend/log-data'
# TODO: Iterate over bucket objects starting with "ssbgz" and print
for obj in sampleDbBucket.objects.filter(Prefix="log-data/2018/11"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-30-events.json')

In [6]:
# TODO: Create the IAM role
try:
    print('1.1 Creating a new IAM Role')
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )

    

except Exception as e:
    print(e)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name sparkify_role already exists.

In [7]:
# TODO: Attach Policy
print('1.2 Attaching Policy')
iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

1.2 Attaching Policy

200

In [8]:
# TODO: Get and print the IAM role ARN
print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.3 Get the IAM role ARN
arn:aws:iam::358787457894:role/sparkify_role

In [9]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]   
    )
except Exception as e:
    print(e)

In [21]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,sparkifycluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,samiramunir
4,DBName,sparkifydb
5,Endpoint,"{'Address': 'sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-a64ae1de
7,NumberOfNodes,8

In [22]:
#!!!! RUN AFTER THE CLUTERSTATUS turns to available
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::358787457894:role/sparkify_role

In [23]:
import os 
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://samiramunir:spArk1f!@sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com:5439/sparkifydb

'Connected: samiramunir@sparkifydb'

In [24]:
from create_tables import *
main()

In [25]:
%sql SELECT * from staging_events limit 1

 * postgresql://samiramunir:***@sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com:5439/sparkifydb
0 rows affected.

[]

In [26]:
%sql SELECT * from staging_songs limit 1

 * postgresql://samiramunir:***@sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com:5439/sparkifydb
0 rows affected.

[]

In [92]:
# config.read('dwh.cfg')
# conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
# cur = conn.cursor()
# query = """ SELECT * from staging_songs limit 1;
# """
# cur.execute(query)
# conn.commit()

In [18]:
ARN

"'arn:aws:iam::358787457894:role/sparkify_role'"

In [27]:
config.read('dwh.cfg')

ARN = config.get('IAM_ROLE', 'ARN')
log_data = config.get('S3', 'LOG_DATA')
log_json_path = config.get('S3', 'LOG_JSONPATH')
song_data = config.get('S3', 'SONG_DATA')

# conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
# cur = conn.cursor()

# query = """
#                     copy staging_events from '{}' 
#                     credentials 'aws_iam_role={}'
#                     region 'us-west-2' JSON '{}' 
#                     timeformat 'epochmillisecs';
#         """.format(log_data, ARN, log_json_path)
# cur.execute(query)
# conn.commit()

# conn.close()

In [28]:
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
conn.set_session(autocommit=True)
cur = conn.cursor()


query = """
                    copy staging_songs from '{}' 
                    credentials 'aws_iam_role={}'
                    region 'us-west-2' json 'auto';
        """.format(song_data, ARN)
cur.execute(query)
# conn.commit()

OperationalError: SSL SYSCALL error: EOF detected

In [ ]:
("""COPY staging_songs FROM {}
                       iam_role  '{}'
                               FORMAT AS JSON 'auto';""").format(config.get("S3","SONG_DATA"), config.get("IAM_ROLE","ARN"))

In [22]:
%sql SELECT count(*) from staging_songs

 * postgresql://samiramunir:***@sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(0,)]

In [ ]:
%sql SELECT * from staging_songs limit 5;

In [25]:

%sql SELECT ts from staging_events limit 2;

 * postgresql://samiramunir:***@sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com:5439/sparkifydb
2 rows affected.

[(datetime.datetime(2018, 11, 12, 3, 36, 28, 796000),),
 (datetime.datetime(2018, 11, 14, 8, 7, 52, 796000),)]

In [45]:

%sql SELECT ts, concat(user_id, cast(ts as VARCHAR)) as ID from staging_events limit 2;

 * postgresql://samiramunir:***@sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com:5439/sparkifydb
2 rows affected.

[(datetime.datetime(2018, 11, 30, 10, 54, 5, 796000), '362018-11-30 10:54:05.796'),
 (datetime.datetime(2018, 11, 29, 22, 27, 31, 796000), '802018-11-29 22:27:31.796')]

In [41]:
%%sql 

SELECT DISTINCT(concat(a.user_id, cast(a.ts as VARCHAR)) as songplay_id,
            a.ts,
            a.user_id, 
            a.level, 
            b.song_id,
            a.artist_id,
            a.session_id,
            a.location, 
            a.user_agent)
    FROM staging_events a
    JOIN staging_songs b ON a.artist_id = b.artist_id 
    WHERE page == 'NextSong' limit 5;

 * postgresql://samiramunir:***@sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com:5439/sparkifydb
(psycopg2.errors.UndefinedColumn) column "tst" does not exist in staging_events
 [SQL: 'SELECT ts, convert(BIGINT, tst) as ID from staging_events limit 2'] (Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
%%SQL
INSERT INTO songplays (SELECT * FROM )

In [ ]:
songplay_table_insert = ("""INSERT INTO songplays (songplay_id, start_time,
                                                    user_id, level, song_id,
                                                    artist_id, session_id,
                                                    location, user_agent)
                                            values (%s, %s, %s, %s, %s,
                                                    %s, %s, %s, %s)
                                                    ON CONFLICT (songplay_id)
                                                    DO NOTHING;
""")
values = """ SELECT """

In [43]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'sparkifycluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'samiramunir',
  'DBName': 'sparkifydb',
  'Endpoint': {'Address': 'sparkifycluster.ccriwkzpy85h.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2019, 5, 31, 18, 3, 24, 829000, tzinfo=tzutc()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-a64ae1de',
  'AvailabilityZone': 'us-west-2d',
  'PreferredMaintenanceWindow': 'tue:11:00-tue:11:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::358787457894:role/sparkify_role',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': []},
 'ResponseMetadata': {'RequestId': 'a30104f9-83d0-11e9-905e-a5c1e9a1b7c9',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'a30104f9-83d0-11e9-905e-a5c1e9a1b7c9',
   'content-type': 'text/xml',
   'content-length': '2068',
   'vary': 'Accept-Encoding',
   'date': 'Fri, 31 May 2019 18:19:32 GMT'},
  'RetryAttempts': 0}}